services:
  app:
    build: .docker
    stdin_open: true
    tty: true
    command: sh

    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: true
      CHOKIDAR_INTERVAL: 100

    ports:
      - "5174:5174"

    volumes:
      - .:/app
      - node_modules:/app/node_modules

    working_dir: /app

volumes:
  node_modules:
