services:
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: klasno-app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "yarn install && yarn dev"
